
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --clr-mrg: #121723;
  --clr-chrd: #292e39;
  --clr-dsbsh: #4f28a5;
  --clr-lcvlt: #6d31ee;
  --clr-mlrs: #aa9dfa;
  --clr-cht: #a1a6b4;
  --clr-thns: #e6e8Ec;
  --clr-wht: #ffffff;
  --clr-bff: #f0d288;
  --clr-tssck: #bb973e;

  --gap-30: 30px;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"), url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLight"), url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"), url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MullerItalic";
  src: local("MullerBold"), url("../fonts/MullerRegularItalic.woff2") format("woff2"),
    url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.body {
  font-family: "Muller", "Arial", sans-serif;
  min-width: 320px;
  font-size: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.section-title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  color: var(--clr-mrg);
}

.button-vlt {
  display: inline-block;
  padding: 23px 52px 23px 53px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: var(--clr-wht);
  background-color: var(--clr-lcvlt);
  -webkit-transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.button-vlt:focus {
  border-color: var(--clr-dsbsh);
  background-color: var(--clr-mlrs);
}

.button-vlt:hover {
  background-color: var(--clr-mlrs);
}

.button-vlt:active {
  border-color: transparent;
  background-color: var(--clr-dsbsh);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  background-color: white;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  margin-right: 80px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  border-radius: 10px;
  -webkit-transition: outline-color 0.4s ease-in-out;
  -o-transition: outline-color 0.4s ease-in-out;
  transition: outline-color 0.4s ease-in-out;
}

.header__logo:focus {
  outline-color: var(--clr-lcvlt);
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
}

.nav__link {
  position: relative;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--clr-mrg);
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background-color: transparent;
  z-index: -10;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.nav__link:focus {
  color: var(--clr-wht);
}

.nav__link:focus::before {
  background-color: var(--clr-mlrs);
}

.nav__link:hover {
  color: var(--clr-lcvlt);
}

.nav__link:active {
  color: var(--clr-dsbsh);
}

.nav__link:active::before {
  background-color: transparent;
}

.svg-path-1,
.svg-path-2 {
  stroke: var(--clr-lcvlt);
  -webkit-transition: stroke 0.4s ease-in-out;
  -o-transition: stroke 0.4s ease-in-out;
  transition: stroke 0.4s ease-in-out;
}

.header__button:focus-visible {
  outline: none;
}

.header__button:focus .svg-path-1,
.header__button:focus .svg-path-2 {
  stroke: var(--clr-mlrs);
}

.header__button:hover .svg-path-1,
.header__button:hover .svg-path-2 {
  stroke: var(--clr-mlrs);
}

.header__button:active .svg-path-1,
.header__button:active .svg-path-2 {
  stroke: var(--clr-dsbsh);
}

/* hero */


.hero {
  background-color: white;
}

.hero__container {
  padding-top: 94px;
  padding-bottom: 94px;
  background-image: url("../img/microphone.png");
  background-position: 98% 49%;
  background-repeat: no-repeat;
  background-size: 350px 372px;
}

.hero__content {
  width: 55%;
}

.hero__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  color: var(--clr-mrg);
}

.hero__title--crsv {
  font-family: "MullerItalic";
  font-weight: 500;
}

.hero__text {
  margin: 0;
  margin-bottom: 46px;
  font-size: 16px;
  line-height: 150%;
  color: var(--clr-mrg);
}

/* podcasts */


.podcasts {
  background-color: var(--clr-thns);
}

.podcasts__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap-30);
}

.podcasts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - var(--gap-30)) / 2);
}

.podcast-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--clr-wht);
}

.podcast-card__date {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px 6px;
  width: 51px;
  height: 16px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: var(--clr-mrg);
  background-color: var(--clr-thns);
}

.podcast-card__img {
  display: block;
  width: 112px;
  height: 100%;
}

.podcast-card__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 38px 30px;
}

.podcast-card__duration {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 12px;
  color: var(--clr-mrg);
}

.podcast-card__title {
  margin: 0;
  margin-bottom: 1px;
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-mrg);
}

.podcast-card__presenter {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-cht);
}

/* shows */


.shows {
  background-color: white;
  overflow: hidden;
}

.shows__container {
  position: relative;
  padding-top: 94px;
  padding-bottom: 94px;
}

.shows__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
}

.shows__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap-30);
  padding-top: 14px;
}

.shows__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - (var(--gap-30) * 2)) / 3);
}

.show-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.show-card__img {
  display: block;
  width: 100%;
}

.show-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 21px 15px 17px;
  min-height: 112px;
  border: 1px solid var(--clr-thns);
}

.show-card__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--clr-mrg);
}

.show-card__schedule {
  margin: 0;
  margin-bottom: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: var(--clr-cht);
}

.show-card__link {
  position: relative;
  font-family: "MullerItalic", sans-serif;
  margin: 0;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--clr-mrg);
  z-index: 10;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.show-card__link::before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -4px;
  background-color: transparent;
  z-index: -10;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.show-card__link-path {
  fill: var(--clr-mrg);
  -webkit-transition: fill 0.4s ease-in-out;
  -o-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

.show-card__svg {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.show-card__link:focus {
  color: var(--clr-wht);
}

.show-card__link:focus::before {
  background-color: var(--clr-mlrs);
}

.show-card__link:focus .show-card__link-path {
  fill: var(--clr-wht);
}

.show-card__link:hover {
  color: var(--clr-lcvlt);
}

.show-card__link:hover .show-card__link-path {
  fill: var(--clr-lcvlt);
}

.show-card__link:hover .show-card__svg {
  -webkit-transform: scaleX(1.15);
      -ms-transform: scaleX(1.15);
          transform: scaleX(1.15);
}

.show-card__link:active {
  color: var(--clr-dsbsh);
}

.show-card__link:active::before {
  background-color: transparent;
}

.show-card__link:active .show-card__link-path {
  fill: var(--clr-dsbsh);
}

.show-card__link:active .show-card__svg {
  -webkit-transform: scaleX(1.15);
      -ms-transform: scaleX(1.15);
          transform: scaleX(1.15);
}

.shows__archive {
  position: absolute;
  top: 59.5%;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  width: calc(25% - var(--gap-30));
}

.shows__archive::before {
  content: "";
  display: block;
  width: 65px;
  height: 89px;
  background-image: url("../img/shows-mic.png");
  background-repeat: no-repeat;
  background-size: 65px 89px;
}

.archive__link {
  display: inline-block;
  margin-bottom: 15px;
  padding: 9px 43px 8px;
  width: 160px;
  outline: none;
  border: 2px solid var(--clr-mrg);
  border-radius: 77px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: currentColor;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.archive__link:focus {
  border-color: var(--clr-lcvlt);
  color: var(--clr-wht);
  background-color: var(--clr-lcvlt);
}

.archive__link:hover {
  border-color: var(--clr-lcvlt);
  color: var(--clr-wht);
  background-color: var(--clr-mlrs);
}

.archive__link:active {
  border-color: var(--clr-dsbsh);
  color: var(--clr-wht);
  background-color: var(--clr-dsbsh);
}

.archive__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--clr-cht);
}

/* guests */


.guests {
  background-color: var(--clr-mrg);
}

.guests__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.guests__title {
  margin-bottom: 14px;
  color: var(--clr-wht);
}

.guests__intro {
  margin-bottom: 50px;
  width: 70%;
}

.guests__text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: var(--clr-cht);
}

.guests__text:not(:last-of-type) {
  margin-bottom: 3px;
}

.guests__note {
  font-weight: 700;
  line-height: 150%;
}

.guests__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.guest-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap-30);
}

.guest-card__img {
  display: block;
  min-width: 432px;
  height: 100%;
}

.guest-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-height: 272px;
}

.guest-card__title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-wht);
}

.guest-card__text {
  margin: 0;
  margin-bottom: auto;
  width: 70%;
  font-size: 16px;
  line-height: 180%;
  color: var(--clr-cht)
}

.guest-card__link {
  display: inline-block;
  padding: 9px 17px;
  outline: none;
  border-radius: 77px;
  border: 2px solid var(--clr-mlrs);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--clr-mlrs);
  background-color: transparent;
  -webkit-transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
  -o-transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
}

.guest-card__link:focus {
  border-color: var(--clr-lcvlt);
  color: var(--clr-wht);
  background-color: var(--clr-lcvlt);
}

.guest-card__link:hover {
  color: var(--clr-wht);
  background-color: var(--clr-mlrs);
}

.guest-card__link:active {
  border-color: var(--clr-dsbsh);
  color: var(--clr-wht);
  background-color: var(--clr-dsbsh);
}

/* playlists */


.playlists {
  background-color: white;
}

.playlists__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.playlists__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap-30);
}

.playlists__top {
  width: calc(100% - var(--gap-30));
}

.playlists__title {
  margin-bottom: 12px;
}

.playlists__intro {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--clr-cht);
}

.playlists__intro--crsv {
  margin-bottom: 12px;
  font-family: "MullerItalic", sans-serif;
  font-weight: 300;
}

.playlists__age {
  position: relative;
  display: inline-block;
  padding-left: 6px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: var(--clr-cht);
}

.playlists__age::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  bottom: -5px;
  right: -6px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid var(--clr-cht);
}

.playlists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap-30);
  padding-top: 14px;
}

.playlists__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - ((var(--gap-30)) * 3)) / 4);
}

.playlist-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.playlist-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-color: var(--clr-mrg);
}

.card-ru::before {
  background-image: url("../img/country-ru.svg");
}

.card-uk::before {
  background-image: url("../img/country-uk.svg");
}

.playlist-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 15px;
  border: 1px solid var(--clr-thns);
  background-color: var(--clr-wht);
}

.playlist-card__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-mrg)
}

.playlist-card__info {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--clr-cht);
}

/* offer */


.offer {
  background-color: var(--clr-chrd);
}

.offer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap-30);
  padding-top: 94px;
  padding-bottom: 134px;
}

.offer__picture {
  position: relative;
  padding-top: 6px;
}

.offer__picture::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -5px;
  width: 160px;
  height: 160px;
  background-image: url("../img/offer-new.svg");
  background-repeat: no-repeat;
  background-size: 160px 160px;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.offer__title {
  position: relative;
  margin-bottom: 48px;
  color: var(--clr-bff);
}

.offer__title::after {
  content: "";
  position: absolute;
  top: 118%;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: url("../img/wave-short.svg");
  background-repeat: no-repeat
}

.offer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: var(--clr-wht);
}

.offer__text:not(:last-of-type) {
  margin-bottom: 12px;
}

.offer__text:last-of-type {
  margin-bottom: 32px;
}

.offer__price {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  color: var(--clr-wht);
}

.offer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 23px 11px;
  outline: none;
  border-radius: 100px;
  border: 2px solid var(--clr-bff);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--clr-bff);
  background-color: transparent;
  -webkit-transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
  -o-transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
}

.path-1 {
  fill: var(--clr-bff);
  -webkit-transition: fill 0.4s ease-in-out;
  -o-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

.path-2 {
  fill: var(--clr-mrg);
  -webkit-transition: fill 0.4s ease-in-out;
  -o-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

.offer__link:focus {
  border-color: var(--clr-bff);
  color: var(--clr-mrg);
  background-color: var(--clr-tssck);
}

.offer__link:focus .path-1 {
  fill: var(--clr-bff);
}

.offer__link:focus .path-2 {
  fill: var(--clr-mrg);
}

.offer__link:hover {
  color: var(--clr-mrg);
  background-color: var(--clr-bff);
}

.offer__link:hover .path-1 {
  fill: var(--clr-mrg)
}

.offer__link:hover .path-2 {
  fill: var(--clr-bff)
}

.offer__link:active {
  border-color: var(--clr-tssck);
  color: var(--clr-mrg);
  background-color: var(--clr-tssck);
}

.offer__link:active .path-1 {
  fill: var(--clr-mrg);
}

.offer__link:active .path-2 {
  fill: var(--clr-tssck);
}

/* about */


.about {
  position: relative;
  background-color: var(--clr-mrg);
  overflow: hidden;
}

.about__container {
  padding-top: 94px;
  padding-bottom: 87px;
}

.about__title {
  margin-bottom: 12px;
  color: var(--clr-wht);
}

.about__content {
  position: relative;
  margin-bottom: 31px;
  width: 58%;
}

.about__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 103%;
  width: 160px;
  height: 290px;
  background-image: url("../img/about-spiral.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about__content::after {
  content: "";
  position: absolute;
  top: 6%;
  left: 133%;
  width: 255px;
  height: 255px;
  background-image: url("../img/about-star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about__intro {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--clr-cht);
}

.about__text {
  margin: 0;
  font-size: 20px;
  line-height: 158%;
  color: var(--clr-cht);
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap-30);
  margin-bottom: 27px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - (var(--gap-30) * 3)) / 4);
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-card__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 30px;
}

.about-card__title {
  margin: 0;
  margin-bottom: 6px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-wht);
}

.about-card__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--clr-cht);
}

.about__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap-30);
  margin-bottom: 30px;
  width: 82.9%;
}

.form__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.form__textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 32px 30px;
  min-height: 150px;
  outline: none;
  border-radius: 30px;
  border: 1px solid var(--clr-wht);
  color: var(--clr-cht);
  background: transparent;
  resize: none;
  -webkit-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out, 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out, 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out, 0.4s ease-in-out;
}

.form__input {
  flex-basis: 48.3%;
  padding: 25px 30px 24px 30px;
  width: calc(50% - 30px);
  outline: none;
  border-radius: 40px;
  border: 1px solid var(--clr-wht);
  color: var(--clr-cht);
  background-color: transparent;
  transition: color 0.4s ease-in-out, 0.4s ease-in-out, 0.4s ease-in-out;
}

.form__textarea:focus,
.form__input:focus {
  border-color: var(--clr-mlrs);
  background-color: var(--clr-chrd);
}

.form__textarea:hover,
.form__input:hover {
  background-color: var(--clr-chrd);
}

.form__textarea:active,
.form__input:active {
  border-color: var(--clr-wht);
  color: var(--clr-wht);
  background-color: transparent;
}

.form__checkbox {
  display: block;
  user-select: none;
  cursor: pointer;
}

.checkbox__custom {
  position: absolute;
  appearance: none;
}

.checkbox__custom:focus-visible {
  outline: none;
}

.checkbox__text {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
  color: var(--clr-wht);
}

.checkbox__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--clr-wht);
  transform: translateY(-50%);
}

.checkbox__text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("../img/check.png");
  background-size: 12px 12px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.checkbox__custom:checked + .checkbox__text::after {
  opacity: 1;
}

.checkbox__custom:focus + .checkbox__text {
  outline: 1px solid var(--clr-wht);
  outline-offset: 4px;
}

/* footer */


.footer {
  position: relative;
  background-color: var(--clr-chrd);
  overflow: hidden;
}

.footer::after {
  content: "";
  position: absolute;
  top: 87%;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: url("../img/wave-footer.svg");
  background-position: -16px;
}

.footer__container {
  position: relative;
  display: flex;
  gap: 80px;
  padding-top: 94px;
  padding-bottom: 134px;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: calc(60% - 80px);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 21px;
  outline: none;
  outline: 2px solid transparent;
  outline-offset: 5px;
  border-radius: 10px;
  -webkit-transition: outline-color 0.4s ease-in-out;
  -o-transition: outline-color 0.4s ease-in-out;
  transition: outline-color 0.4s ease-in-out;
}

.footer__logo:focus {
  outline-color: var(--clr-lcvlt);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

.socials__link {
  outline: none;
}

.socials__link--yt path,
.socials__link--ok path,
.socials__link--vk path {
  fill: #d2d5dd;
  -webkit-transition: fill 0.4s ease-in-out;
  -o-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

.socials__link--yt:focus path,
.socials__link--ok:focus path,
.socials__link--vk:focus path {
  fill: var(--clr-mlrs);
}

.socials__link--yt:hover path,
.socials__link--ok:hover path,
.socials__link--vk:hover path {
  fill: var(--clr-lcvlt);
}

.socials__link--yt:active path,
.socials__link--ok:active path,
.socials__link--vk:active path {
  fill: var(--clr-dsbsh);
}

.footer__right {
  width: 40%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  gap: 20px 106px;
  height: 88px;
}

.footer__link {
  font-size: 16px;
  text-align: left;
  color: var(--clr-wht);
}

.footer__copy {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  font-size: 16px;
  line-height: 103.336%;
  text-transform: uppercase;
  color: var(--clr-cht);
}
