<section class="about" id="about">
  <div class="container about__container">
    <div class="about__content">
      <h2 class="section-title about__title">О нас</h2>
      <span class="about__intro">
        Приём-приём! Как слышно? Мы&nbsp;уже в&nbsp;эфире? Отлично, поехали!
      </span>
      <p class="about__text">
        Друзья, мы&nbsp;будем очень рады, если вы&nbsp;поможете стать нам лучше. Нам важен каждый слушатель,
        поэтому вы&nbsp;можете поделиться обратной связью о&nbsp;наших предеачах, темах, подборках
        и&nbsp;вообще обо всём! Это&nbsp;можно сделать либо написав нам в&nbsp;форме ниже, либо кликнув
        на&nbsp;наши соцсети в&nbsp;подвале сайта. Спасибо! Услышимся!:&#41;
      </p>
    </div>

    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about-card">
          <picture>
            <source media="(min-width: 1201px)" srcset="assets/img/about-card-1.webp">
            <source media="(min-width: 769px)" srcset="assets/img/about-card-1-1024.webp">
            <source media="(min-width: 577px)" srcset="assets/img/about-card-1-768.webp">
            <source media="(min-width: 320px)" srcset="assets/img/about-card-1-320.webp">
            <img src="assets/img/about-card-1.webp" alt="Наш ведущий Дмитрий Гутенберг">
          </picture>
          <div class="about-card__content">
            <h3 class="about-card__title">Дмитрий Гутенберг</h3>
            <p class="about-card__text">
              Эксперт (ну, почти) по&nbsp;всем вопросам (почти)
            </p>
          </div>
        </div>
      </li>
      <li class="about__item">
        <div class="about-card">
          <picture>
            <source media="(min-width: 1201px)" srcset="assets/img/about-card-2.webp">
            <source media="(min-width: 769px)" srcset="assets/img/about-card-2-1024.webp">
            <source media="(min-width: 577px)" srcset="assets/img/about-card-2-768.webp">
            <source media="(min-width: 320px)" srcset="assets/img/about-card-2-320.webp">
            <source srcset="assets/img/about-card-2.jpg">
            <img src="assets/img/about-card-2.jpg" alt="Наша ведущая Анна Васильева">
          </picture>
          <div class="about-card__content">
            <h3 class="about-card__title">Анна Васильева</h3>
            <p class="about-card__text">
              Как я&nbsp;здесь оказалась? А&nbsp;главное&nbsp;&mdash; зачем?
            </p>
          </div>
        </div>
      </li>
      <li class="about__item">
        <div class="about-card">
          <picture>
            <source media="(min-width: 1201px)" srcset="assets/img/about-card-3.webp">
            <source media="(min-width: 769px)" srcset="assets/img/about-card-3-1024.webp">
            <source media="(min-width: 577px)" srcset="assets/img/about-card-3-768.webp">
            <source media="(min-width: 320px)" srcset="assets/img/about-card-3-320.webp">
            <img src="assets/img/about-card-3.jpg" alt="Наш ведущий Пётр Дмитриевский">
          </picture>
          <div class="about-card__content">
            <h3 class="about-card__title">Пётр Дмитриевский</h3>
            <p class="about-card__text">
              Господа! Внимание! Благодарю за&nbsp;внимание!
            </p>
          </div>
        </div>
      </li>
      <li class="about__item">
        <div class="about-card">
          <picture>
            <source media="(min-width: 1201px)" srcset="assets/img/about-card-4.webp">
            <source media="(min-width: 769px)" srcset="assets/img/about-card-4-1024.webp">
            <source media="(min-width: 577px)" srcset="assets/img/about-card-4-768.webp">
            <source media="(min-width: 320px)" srcset="assets/img/about-card-4-320.webp">
            <img src="assets/img/about-card-4.jpg" alt="Наша ведущая Татьяна Флеганова">
          </picture>
          <div class="about-card__content">
            <h3 class="about-card__title">Татьяна Флеганова</h3>
            <p class="about-card__text">
              Одна я&nbsp;в&nbsp;пальто стою красивая, а&nbsp;вокруг...
            </p>
          </div>
        </div>
      </li>
    </ul>

    <form class="about__form form" action="https://jsonplaceholder.typicode.com/posts" method="post">
      <div class="form__top">
        <label class="visually-hidden" for="comment">Введите комментарий</label>
        <textarea class="form__textarea form__text" name="Комментарий" id="comment" placeholder="Что скажете?"
          required minlength="20"></textarea>
        <label class="visually-hidden" for="name">Введите имя</label>
        <input class="form__input form__text" type="text" pattern="^[А-Яа-яЁё\s +a-zA-Z\s]+$" name="Имя" id="name"
          placeholder="Имя" required>
        <label class="visually-hidden" for="email">Введите email</label>
        <input class="form__input form__text" type="email" name="Email" id="email" placeholder="Email" required
          autocomplete="email">
        <button class="button-vlt form__button">Отправить</button>
      </div>
      <label class="form__checkbox checkbox">
        <input class="checkbox__custom" type="checkbox" name="Checkbox" checked required>
        <span class="checkbox__text">Согласен на обработку персональных данных</span>
      </label>
    </form>

  </div>
</section>
