<section class="guests" id="guests">
  <div class="container guests__container">
    <h2 class="section-title guests__title">Гости</h2>
    <div class="guests__intro">
      <p class="guests__text">
        <span class="guests__note">У&nbsp;нас бывают:</span>
      </p>
      <p class="guests__text">
        Блогеры, арт-критики и&nbsp;деятели искусства, музыканты, молодые учёные и&nbsp;люди науки, историки,
        филологи и&nbsp;много других интересных гостей!
      </p>
    </div>
    <ul class="list-reset guests__list">
      <li class="guests__item">
        <div class="guest-card">
          <picture>
            <source media="(min-width: 993px)" srcset="assets/img/guest-photo-1.webp" width="432">
            <source media="(min-width: 577px)" srcset="assets/img/guest-photo-1-768.webp">
            <source media="(min-width: 320px)" srcset="assets/img/guest-photo-1-320.webp">
            <img class="guest-card__img" src="assets/img/guest-photo-1.webp" alt="Наш гость Ольга Мартынова">
          </picture>
          <div class="guest-card__content">
            <h3 class="guest-card__title">Ольга Мартынова</h3>
            <p class="guest-card__text">
              Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
              Арт-критик газеты &laquo;Коммерсантъ&raquo;. Ведёт активную блогерскую деятельность
              как куратор музея &laquo;Гараж&raquo;, коим является с&nbsp;2016&nbsp;года.
            </p>
            <a class="guest-card__link" href="#">Эфиры с&nbsp;гостем</a>
          </div>
        </div>
      </li>
      <li class="guests__item">
        <div class="guest-card">
          <picture>
            <source media="(min-width: 993px)" srcset="assets/img/guest-photo-2.webp" width="432">
            <source media="(min-width: 577px)" srcset="assets/img/guest-photo-2-768.webp">
            <source media="(min-width: 320px)" srcset="assets/img/guest-photo-2-320.webp">
            <img class="guest-card__img" src="assets/img/guest-photo-2.jpg" alt="Наш гость Денис Гришин">
          </picture>
          <div class="guest-card__content">
            <h3 class="guest-card__title">Денис Гришин</h3>
            <p class="guest-card__text">
              Однозначно, элементы политического процесса являются только методом политического участия
              и&nbsp;смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени совершённой неузнаваемости,
              из-за чего возрастает их&nbsp;статус бесполезности.
            </p>
            <a class="guest-card__link" href="#">Эфиры с&nbsp;гостем</a>
          </div>
        </div>
      </li>
      <li class="guests__item">
        <div class="guest-card">
          <picture>
            <source media="(min-width: 993px)" srcset="assets/img/guest-photo-3.webp" width="432">
            <source media="(min-width: 577px)" srcset="assets/img/guest-photo-3-768.webp">
            <source media="(min-width: 320px)" srcset="assets/img/guest-photo-3-320.webp">
            <img class="guest-card__img" src="assets/img/guest-photo-3.jpg" alt="Наш гость Ольга Мартынова">
          </picture>
          <div class="guest-card__content">
            <h3 class="guest-card__title">Ольга Мартынова</h3>
            <p class="guest-card__text">
              С&nbsp;другой стороны, высококачественный прототип будущего проекта выявляет срочную потребность
              дальнейших направлений развития. В&nbsp;рамках спецификации современных стандартов,
              реплицированные с&nbsp;зарубежных источников.
            </p>
            <a class="guest-card__link" href="#">Эфиры с&nbsp;гостем</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
