<header class="header">
  <div class="container header__container">

    <a class="header__logo" href="#">
      <img src="assets/img/logo.svg" alt="Логотип радио W-Wave. Переход на главную страницу сайта.">
    </a>

    <nav class="header__nav nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#podcasts">Подкасты</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#shows">Передачи</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#guests">Гости</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#playlists">Плейлисты</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">О&nbsp;нас</a>
        </li>
      </ul>
    </nav>

    <button class="button-reset header__button" aria-label="Поиск">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M21 21L16.65 16.65" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
  </div>

</header>
