<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Радио <span class="hero__title hero__title--crsv" lang="en">W-Wave</span>
      </h1>
      <p class="hero__text">
        Привет, на&nbsp;связи <span lang="en">W-Wave!</span> Раньше мы&nbsp;были изданием, а&nbsp;теперь пробуем
        себя
        в&nbsp;разговорном жанре. Говорим о&nbsp;музыке, политике, истории, науке и&nbsp;культуре.
        Здесь, помимо прямого эфира&nbsp;&mdash; архив передач и&nbsp;многое другое:&#41;
      </p>
      <a class="hero__button button-vlt" href="#">Слушать эфир</a>
    </div>
  </div>
</section>
