<section class="offer" id="offer">
  <div class="container offer__container">
    <div class="offer__picture">
      <picture>
        <source media="(min-width: 1201px)" srcset="assets/img/offer.webp">
        <source media="(min-width: 993px)" srcset="assets/img/offer-1024.webp">
        <source media="(min-width: 577px)" srcset="assets/img/offer-768.webp">
        <source media="(min-width: 320px)" srcset="assets/img/offer-320.webp">
        <img src="assets/img/offer.webp" alt="Портативный радиоприёмник-колонка от W-Wave.
          Цвет бордовый с золотыми деталями.">
      </picture>
    </div>
    <div class="offer__content">
      <h2 class="section-title offer__title">Будь с&nbsp;нами на&nbsp;одной волне!</h2>
      <p class="offer__text">
        Друзья, рады представить вам продукт нашего производства! Да-да, несмотря на&nbsp;то, что
        мы&nbsp;только начали свой путь радиовещателей, нам хочется, чтобы вы&nbsp;могли как следует
        нас расслышать:&#41;
      </p>
      <p class="offer__text">
        Итак, встречайте! Портативный радиоприёмник-колонка <span lang="en">W-Wave</span> 1.0&nbsp;xm. Тщательный
        подбор всех
        делатей, ручная сборка, качественный звук. Пока доступно только 60&nbsp;штук в&nbsp;3&nbsp;цветах,
        но&nbsp;мы&nbsp;активно трудимся над новыми партиями и&nbsp;дизайном. Спешите приобрести!
      </p>
      <span class="offer__price">2&nbsp;800&nbsp;₽</span>
      <a class="offer__link" href="#">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Frame158">
            <g clip-path="url(#clip0_93553_452)">
              <path class="path-1" id="Vector"
                d="M10.5 20C16.0228 20 20.5 15.5228 20.5 9.99998C20.5 4.47714 16.0228 0 10.5 0C4.97724 0 0.5 4.47714 0.5 9.99998C0.5 15.5228 4.97724 20 10.5 20Z" />
              <path class="path-2" id="Vector_2"
                d="M17.4385 4.54391L13.7295 3.17676L8.3957 10.8637L8.92677 7.3751L6.02058 5.68219L0.67395 12.1141C0.924269 13.3858 1.4102 14.5718 2.08387 15.6239L5.27373 11.7711L4.09993 16.2962L7.73707 17.6271L13.1408 9.8464L11.9569 14.2958L14.9033 16.0179L20.558 10.3174C20.5592 10.2534 20.5599 10.1889 20.5599 10.1246C20.5599 8.78258 20.3017 7.50132 19.8329 6.32896L16.5482 9.6538L17.4385 4.54391Z" />
            </g>
          </g>
          <defs>
            <clippath id="clip0_93553_452">
              <rect x="0.5" width="20" height="20" rx="10" fill="white" />
            </clippath>
          </defs>
        </svg>
        Купить на&nbsp;Яндекс.Маркет</a>
    </div>
  </div>
</section>
