<section class="playlists" id="playlists">
  <div class="container playlists__container">
    <div class="playlists__content">
      <div class="playlists__top">
        <h2 class="section-title playlists__title">Плейлисты</h2>
        <p class="playlists__intro">
          Раздел &laquo;Плейлисты&raquo; может содержать информацию,
          не&nbsp;предназначенную для&nbsp;несовершеннолетних
        </p>
        <p class="playlists__intro playlists__intro--crsv">&copy; 2021 | <span lang="en">W-Wave</span></p>
        <span class="playlists__age">18+</span>
      </div>

      <ul class="list-reset playlists__list">
        <li class="playlists__item">
          <article class="playlist-card card-ru">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-1.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-1-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-1.webp" alt="Музыкальный дуэт Ploho">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Ploho</h3>
              <p class="playlist-card__info">3&nbsp;последних альбома</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-ru">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-2.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-2-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-2.webp" alt="Дуэт Molchat Doma">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Molchat Doma</h3>
              <p class="playlist-card__info">Все песни</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-ru">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-3.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-3-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-3.webp" alt="Группа Motorama">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Motorama</h3>
              <p class="playlist-card__info">Все синглы</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-ru">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-4.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-4-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-4.webp"
                alt="Музыкальный коллектив Human Tetris">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Human Tetris</h3>
              <p class="playlist-card__info">3&nbsp;последних альбома</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-ru">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-5.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-5-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-5.webp" alt="Дуэт Буерак">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Буерак</h3>
              <p class="playlist-card__info">Все EP</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-ru">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-6.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-6-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-6.webp" alt="Группа Июльские Дни">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Июльские Дни</h3>
              <p class="playlist-card__info">Альбом &laquo;Колокол&raquo;</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-uk">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-7.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-7-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-7.webp" alt="Группа Joy Division">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Joy Division</h3>
              <p class="playlist-card__info">Лучшее за&nbsp;всё время</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-uk">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-8.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-8-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-8.webp" alt="Рок-группа The Cure">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">The Cure</h3>
              <p class="playlist-card__info">Лучшее за&nbsp;всё время</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-uk">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-9.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-9-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-9.webp" alt="Рок-группа The Smiths">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">The Smiths</h3>
              <p class="playlist-card__info">Период 1984&ndash;1988</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-uk">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-10.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-10-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-10.webp" alt="Рок-группа New Order">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">New Order</h3>
              <p class="playlist-card__info">Хиты</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-uk">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-11.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-11-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-11.webp" alt="Рок-группа Bauhaus">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Bauhaus</h3>
              <p class="playlist-card__info">Все синглы</p>
            </div>
          </article>
        </li>
        <li class="playlists__item">
          <article class="playlist-card card-uk">
            <picture>
              <source media="(min-width: 1201px)" srcset="assets/img/playlist-card-12.webp">
              <source media="(max-width: 1200px)" srcset="assets/img/playlist-card-12-1024.webp">
              <img class="playlist-card__img" src="assets/img/playlist-card-12.webp" alt="Рок-группа Gang Of Four">
            </picture>
            <div class="playlist-card__content">
              <h3 class="playlist-card__title">Gang Of Four</h3>
              <p class="playlist-card__info">3&nbsp;последних альбома</p>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
