<section class="podcasts" id="podcasts">
  <div class="container podcasts__container">
    <h2 class="section-title podcasts__title">Подкасты</h2>
    <ul class="list-reset podcasts__list">
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-1.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-1-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-1.webp"
              alt="Подкаст Европа, 19 век. Вид на центр Кёнигсберга">
          </picture>
          <time class="podcast-card__date" datetime="06-14">14 июня</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT15M43S">15:43</time>
            <h3 class="podcast-card__title">Европа. XIX век</h3>
            <p class="podcast-card__presenter">
              Дмитрий Гутенберг
            </p>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-2.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-2-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-2.webp" alt="Подкаст о музыке. Силуэт скрипача">
          </picture>
          <time class="podcast-card__date" datetime="06-11">11 июня</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT5M32S">5:32</time>
            <h3 class="podcast-card__title">О музыке</h3>
            <p class="podcast-card__presenter">
              Дмитрий Гутенберг
            </p>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-3.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-3-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-3.webp"
              alt="Подкаст люди сегодня. Вид на идущих по переполненной улице прохожих">
          </picture>
          <time class="podcast-card__date" datetime="06-08">8 июня</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT8M54S">8:54</time>
            <h3 class="podcast-card__title">Люди сегодня</h3>
            <p class="podcast-card__presenter">
              Анна Васильева
            </p>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-4.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-4-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-4.webp"
              alt="Подкаст Хэллоу, Африка. Женщина из Африканского племени на фоне плантаций">
          </picture>
          <time class="podcast-card__date" datetime="06-05">5 июня</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT9M4S">9:04</time>
            <h3 class="podcast-card__title">Хэллоу, Африка!</h3>
            <p class="podcast-card__presenter">
              Пётр Дмитриевский
            </p>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-5.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-5-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-5.webp"
              alt="Подкаст обо всём. Статуя мыслитель Огюста Родена">
          </picture>
          <time class="podcast-card__date" datetime="06-02">2 июня</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT7M3S">7:03</time>
            <h3 class="podcast-card__title">Обо всём</h3>
            <p class="podcast-card__presenter">
              Пётр Дмитриевский
            </p>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-6.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-6-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-6.webp"
              alt="Подкаст физика цвета. Цветовой круг Иоганна Гёте">
          </picture>
          <time class="podcast-card__date" datetime="05-28">28 мая</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT9M15S">9:15</time>
            <h3 class="podcast-card__title">Физика цвета</h3>
            <p class="podcast-card__presenter">
              Татьяна Флеганова
            </p>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-7.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-7-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-7.webp"
              alt="Подкаст источник звука. Звуковые волны на сером фоне">
          </picture>
          <time class="podcast-card__date" datetime="05-22">22 мая</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT16M4S">16:04</time>
            <h3 class="podcast-card__title">Источник звука</h3>
            <p class="podcast-card__presenter">
              Пётр Дмитриевский
            </p>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast-card">
          <picture>
            <source media="(min-width: 577px)" srcset="assets/img/podcast-card-8.webp">
            <source media="(max-width: 576px)" srcset="assets/img/podcast-card-8-320.webp">
            <img class="podcast-card__img" src="assets/img/podcast-card-8.webp"
              alt="Подкаст правила этикета. Двое за ужином в ресторане">
          </picture>
          <time class="podcast-card__date" datetime="05-18">18 мая</time>
          <div class="podcast-card__content">
            <time class="podcast-card__duration" datetime="PT6M55S">6:55</time>
            <h3 class="podcast-card__title">Правила этикета</h3>
            <p class="podcast-card__presenter">
              Татьяна Флеганова
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
