<section class="shows" id="shows">
  <div class="container shows__container">
    <div class="shows__content">
      <h2 class="section-title shows__title">Передачи</h2>
      <ul class="list-reset shows__list">
        <li class="shows__item">
          <article class="show-card show-card-one">
            <picture>
              <source media="(min-width: 577px)" srcset="assets/img/show-card-1.webp">
              <source media="(max-width: 576px)" srcset="assets/img/show-card-1-320.webp">
              <img class="show-card__img" src="assets/img/show-card-1.jpg"
                alt="Передача О людях и книгах. Процесс книгопечатания в 15 веке">
            </picture>
            <div class="show-card__content">
              <h3 class="show-card__title">О&nbsp;людях и&nbsp;книгах</h3>
              <p class="show-card__schedule">Анонсируется отдельно</p>
              <a class="show-card__link" href="#">Подробнее
                <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" />
                </svg>
              </a>
            </div>
          </article>
        </li>
        <li class="shows__item">
          <article class="show-card">
            <picture>
              <source media="(min-width: 577px)" srcset="assets/img/show-card-2.webp">
              <source media="(max-width: 576px)" srcset="assets/img/show-card-2-320.webp">
              <img class="show-card__img" src="assets/img/show-card-2.jpg"
                alt="Передача Графомания. Карикатура писателя за печатной машинкой">
            </picture>
            <div class="show-card__content">
              <h3 class="show-card__title">Графомания&nbsp;td</h3>
              <p class="show-card__schedule">По&nbsp;понедельникам в&nbsp;10:00</p>
              <a class="show-card__link" href="#">Подробнее
                <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" />
                </svg>
              </a>
            </div>
          </article>
        </li>
        <li class="shows__item">
          <article class="show-card">
            <picture>
              <source media="(min-width: 577px)" srcset="assets/img/show-card-3.webp">
              <source media="(max-width: 576px)" srcset="assets/img/show-card-3-320.webp">
              <img class="show-card__img" src="assets/img/show-card-3.jpg"
                alt="Шоу Не Рим, не Троя. Колизей с возвышающимися над ним мыслителями.">
            </picture>
            <div class="show-card__content">
              <h3 class="show-card__title">Не&nbsp;Рим, не&nbsp;Троя</h3>
              <p class="show-card__schedule">По&nbsp;вторникам в&nbsp;12:00</p>
              <a class="show-card__link" href="#">Подробнее
                <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" />
                </svg>
              </a>
            </div>
          </article>
        </li>
        <li class="shows__item">
          <article class="show-card">
            <picture>
              <source media="(min-width: 577px)" srcset="assets/img/show-card-4.webp">
              <source media="(max-width: 576px)" srcset="assets/img/show-card-4-320.webp">
              <img class="show-card__img" src="assets/img/show-card-4.jpg" alt="Передача Эрудит. Френология">
            </picture>
            <div class="show-card__content">
              <h3 class="show-card__title">Эрудит</h3>
              <p class="show-card__schedule">По&nbsp;пятницам в&nbsp;17:00</p>
              <a class="show-card__link" href="#">Подробнее
                <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" />
                </svg>
              </a>
            </div>
          </article>
        </li>
        <li class="shows__item">
          <article class="show-card">
            <picture>
              <source media="(min-width: 577px)" srcset="assets/img/show-card-5.webp">
              <source media="(max-width: 576px)" srcset="assets/img/show-card-5-320.webp">
              <img class="show-card__img" src="assets/img/show-card-5.jpg"
                alt="Шоу Тонкости Эпох. Средневековая миниатюра - кролик оседлавший собаку">
            </picture>
            <div class="show-card__content">
              <h3 class="show-card__title">Тонкости эпох</h3>
              <p class="show-card__schedule">По&nbsp;субботам в&nbsp;10:00</p>
              <a class="show-card__link" href="#">Подробнее
                <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" />
                </svg>
              </a>
            </div>
          </article>
        </li>
        <li class="shows__item">
          <article class="show-card">
            <picture>
              <source media="(min-width: 577px)" srcset="assets/img/show-card-6.webp">
              <source media="(max-width: 576px)" srcset="assets/img/show-card-6-320.webp">
              <img class="show-card__img" src="assets/img/show-card-6.jpg" alt="Шоу Живые мысли. Перевернувшийся ёж">
            </picture>
            <div class="show-card__content">
              <h3 class="show-card__title">Живые мысли</h3>
              <p class="show-card__schedule">По&nbsp;воскресеньям в&nbsp;15:30</p>
              <a class="show-card__link" href="#">Подробнее
                <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" />
                </svg>
              </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="shows__archive archive">
      <div class="archive__content">
        <a class="archive__link" href="#">Архив</a>
        <p class="archive__text">
          В&nbsp;архив попадают все передачи, которые вы пропустили! <span lang="en">Enjoy</span>:)
        </p>
      </div>
    </div>
  </div>
</section>
